<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LoadImage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6C7CE0B31DD9B9C800CF1098</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C7CE0CC1DD9B9C800CF1098</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C7CE0D71DD9B9C800CF1098</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
